<h1>Contact Us</h1>
<p>
This is the contact page for the CMMS sample application.
<br>
Computerized Maintenance Management System version 0.01, 2010<br>
Jericson C. Bello<br>
Quezon City, Philippines<br>
</p>
